* {
    box-sizing: border-box;
}

body {

    background-color: #dbdbdb;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

.header{
    background-color: black;
    text-align: center; 
    padding: 5px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #262626;

}

.title{
    font-family: Verdana;
    font-size: 16px;
}

/* Center website */
.main {
    max-width: 100%;
}

a:link {
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}

#paragraph {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
    height: 280px;
}

.para {
    font-family: Verdana;
    font-size: 1vw;
    width: 700px;
    text-align: center;
}

/* Footer (Start) -------------------------------*/
footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 50px;
    text-align: center; 
}
footer a {
    text-align: center;
}
/* Footer (End) ---------------------------------*/

