* {
    box-sizing: border-box;
}

body {
    background-color: #dbdbdb;
    font-family: verdana;
    margin: 0px;
    overflow: hidden;
}

.header{
    background-color: black;
    text-align: center; 
    padding: 5px;

}

.title{
    font-family: verdana;
    font-size: 16px;
    justify-content: center;
}


/* Center website */
.main {
    max-width: 100%;
}

a:link {
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;


}
/* Footer (Start) -------------------------------*/
footer {
        position: absolute;
        bottom: 10px;
        width: 100%;
        height: 50px;
        text-align: center; 
}
/* Footer (End) ---------------------------------*/



/* Slideshow (Start) ----------------------------*/
* {margin: 0; padding: 0;}
 
#container {
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: #dbdbdb;
}

/*header*/
header {
    justify-content: center;
    width: 100%;
    margin: 10px auto;
}
 
header a {
    text-align: center;
    font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
}
 
header p {
    font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
    text-align: center;
}
 
/*photobanner*/
.photobanner {
    height: 500px;
    width: 750000px;
    margin-top: -30px;
    margin-bottom: 200px;   
    display: flex;
}


/*keyframe animations*/
.first {
 -webkit-animation: bannermove 35s linear infinite;
    -moz-animation: bannermove 35s linear infinite;
     -ms-animation: bannermove 35s linear infinite;
      -o-animation: bannermove 35s linear infinite;
         animation: bannermove 35s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: -750px;
 }
 100% {
    margin-left: -5250px;
 }
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: -750px;
 }
 100% {
   margin-left: -5250px;
 }
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: -750px;
 }
 100% {
   margin-left: -5250px;
 }
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: -750px;
 }
 100% {
   margin-left: -5250px;
 }
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: -750px;
 }
 100% {
   margin-left: -5250px;
 }
}
/* Slideshow (End) ------------------------------*/
