*{
	margin: 0;
	padding: 0;}
body{
	width: 100%;
	height: 100%;
	background-color: #ebe2ff;
	background-position: bottom right;}
.title h1{
	background-color: #3b158e;
	width: 100%;
	height: 30%;
	padding: 1px;
	padding-bottom: 2px;
	text-align: left;
	text-indent: 5px}
.title p{
	background-color: #ebe2ff;
	width: 100%;
	padding: 1px;
	text-align: left;}