* {
  box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* ---------------------------------------------------------------------- */
/* --------------------------background image---------------------------- */

.backgroundImage {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.backgroundImageMobile {
  display: none;
}

.backgroundImageTablet {
  display: none;
}

.backgroundImageTabletVertical {
  display: none;
}

/* ---------------------------------------------------------------------- */
/* ---------------------background image overlay------------------------- */


/* ---------------------------------------------------------------------- */
/* -------------------------------header--------------------------------- */

.row {
  background-color: #efefef;
}
.row h1:hover {
  color: black;
}
.column {
  float: left;
  padding: 20px;
}
.left {
  text-align: right;
  width: 45%;
  padding: 3px;
}
.right {
  text-align: left;
  width: 45%;
  padding: 3px;
}
.middle {
  text-align: center;
  width: 10%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------------------------------------------------------------------- */
/* -------------------------dropdown menu-------------------------------- */

.dropbtn {
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #efefef;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

/* .dropdown-content a:hover {} */
.dropdown:hover .dropdown-content {display: block;}
/* .dropdown:hover .dropbtn {} */

/* ---------------------------------------------------------------------- */
/* --------------------------------text---------------------------------- */
h1 {
  color: #cccccc;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  display: inline-block;
  letter-spacing: 5px;
}

.text h2 {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  text-align: center;
  padding: 20px 10px 15px 10px;
}

.text p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 15px 500px 15px 500px;
}

/* ---------------------------------------------------------------------- */
/* --------------------------------footer-------------------------------- */
.footer {
  background-color: #dbdbdb;
  text-align: center;
  padding: 10px;
}

/* ---------------------------------------------------------------------- */
/* -------------if screen width is less than 600px----------------------- */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .middle {
    width: 100%;
  }
  .dropdown {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .backgroundImage {
    display: none;
  }

  .backgroundImageMobile {
    display: grid;
    height: 100%;
    width: 100%;
  }

  .text p{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 15px 10px 15px 10px;
  }
}

/* ---------------------------------------------------------------------- */
/* ----if screen width is less than 1000px and greater than 600px-------- */

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .middle {
    width: 100%;
  }
  .dropdown {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .backgroundImage {
    display: none;
  }

  .backgroundImageMobile {
    display: grid;
    height: 100%;
    width: 100%;
  }

  .text p{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 15px 20px 15px 20px;
  }
}

/* ---------------------------------------------------------------------- */
/* ------------------------------favicon--------------------------------- */

img {
  text-align: center;
}
