body {
  background-color: black;
  margin: 0px;
}

.header {
  background-color: white;
  padding: 20px;
  text-align: center;
}

/* ----------favicon------------- */
img {
  text-align: center;
  margin-right: 500px;
}
/* ------------------------------ */

h1 {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  display: inline-block;
}

.paragraph {
  background-color: white;
  padding: 100px;
  text-align: center;
}
