* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0px;
  padding: 0px;
}

/* ---------------------------------------------------------------------- */
/* -------------------------------header--------------------------------- */

.row {
  background-color: #efefef;
}
.row h1:hover {
  color: black;
}
.column {
  float: left;
  padding: 20px;
}
.left {
  text-align: right;
  width: 45%;
  padding: 27px;
}
.right {
  text-align: left;
  width: 45%;
  padding: 27px;
}
.middle {
  text-align: center;
  width: 10%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------------------------------------------------------------------- */
/* -------------------------dropdown menu-------------------------------- */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* ---------------------------------------------------------------------- */
/* -------------if screen width is less than 600px----------------------- */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .dropdown {
    display: inline-block;
  }
}

/* ---------------------------------------------------------------------- */
/* ------------------------------favicon--------------------------------- */

img {
  text-align: center;
}

/* ---------------------------------------------------------------------- */
/* --------------------------------text---------------------------------- */

h1 {
  color: #cccccc;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  display: inline-block;
}

.paragraph {
  background-color: white;
  padding: 100px;
  text-align: center;
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
