body {
  background-color: black;
}

h1 {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  text-align: right;
}

.header {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.paragraph {
  background-color: white;
  padding: 100px;
  text-align: center;
}
