body {
  background-color: #111111;
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  line-height: 1.6;
}

h1 {
  color: black;
}
h2{
  color: black;
}

img{
  width: 100%;
}

.header{
  background-color: yellow;
  padding: 60px;
  margin: 40px;
  border: 2px solid black;
  text-align: center;
}

#toggle-text{
  display: flex;
  visiblity: hidden;
}

.portfolio-item{
  background-color: green;
  padding: 60px;
  margin: 40px;
  border: 2px solid black;
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}
